
<div class="flexslider">
  <ul class="slides">
    <li><img src="https://cdn.shopify.com/s/files/1/0449/7548/9188/files/KS20W-TwoTone-ClosedandOpen-Standing.jpg?v=1598238811" /></li>
    <li><img src="https://cdn.shopify.com/s/files/1/0449/7548/9188/files/1903_CKD_MM001_RG_00028.jpg?v=1598238851" /></li>
    <li><img src="https://cdn.shopify.com/s/files/1/0449/7548/9188/files/1903_CKD_MM001_RG_00036.jpg?v=1598238851" /></li>
  </ul>

</div>

<script type="text/javascript">
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    directionNav: true
  });
});
</script>